<div class="teams-list">
    <ul *ngFor="let team of teams; let i = index" >
        <li>
            <app-team-component [team]="team"></app-team-component>
        </li>
    </ul>
</div>


<div class="add-team">
    <b>Add Team</b>
    <input placeholder="Team name" [(ngModel)]="teamName" />
    <Button [disabled]="formValidation()" (click)="addTeam()">&#8853;</Button>
</div>
